nav.top-nav{
    background-color: #c99fe0;
    position: fixed;
    top:0px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px blue;
}

main{
    margin-top: 100px;
    margin-left: 2em;
}

nav.top-nav li:hover{
    text-decoration: underline;
    background-color: white;
}

nav.top-nav li{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
    user-select: none;
    color: black;
}

nav.top-nav ul{
    list-style: none;
}


main img{
    width: 500px;
}

main h1{
    text-align: center;
}

div img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
main div h2{
    text-align: center;
} 

h3{
    text-align: center;
}

.NURoom-Form{
    display: flex;
}
.NURoom-Form img{
    width: 75%;
}
.NURoom-Form p{
    font-size: 30px;
}

.Wait4What{
    display: flex;
}
.Wait4What img{
    width: 75%;
}
.Wait4What{
    display: flex;
}
.Wait4What p{
    font-size: 30px;
}